.card {
    width: 400px;
    border: solid 2px rgb(212, 214, 219);
    border-radius: 6px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525760;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.card-header {
    border-bottom: solid 1px rgb(212, 214, 219);
}

.card-header-logo {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}

.card-header-text-left {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #525760;
    transition: color 2s linear;
}

.card-header-text-left:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.card-header-text-center {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #525760;
}

.card-header-text-right {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #525760;
    transition: color 2s linear;
}

.card-header-text-right:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.card-header-text-center:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-body {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.card-body-link-left {
    font-size: 14px;
    color: #525760;
    text-decoration: none;
    transition: color 2s linear;
}

.card-body-link-left:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.card-body-link-center {
    font-size: 14px;
    color: #525760;
    text-decoration: none;
}

.card-body-link-center:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-body-link-right {
    font-size: 14px;
    color: #525760;
    text-decoration: none;
    transition: color 2s linear;
}

.card-body-link-right:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
